body, html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #d7dbdd ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.form-box {
    width: 300px;
    padding: 100px;
    background: #ffffff;
    text-align: center;
	box-shadow: 0px 5px 15px rgba(0,0,0056);
}

.form-title {
    color: black;
}

.avatar{
	 width:200px;
}

.pa{
	color: #566573  ;
}

.form-box input[type="text"], .form-box input[type="password"], .form-box button[type="submit"] {
    border: 5;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 10px;
    width: 200px;
    outline: black;
    color: black;
}

.form-box button[type="submit"] {
    border: 0;
    background:  #ff8000 ;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 10px;

}

