body {
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Roboto, 'Open sans';
}

#header {
    height: 120px;
    width: 100%;
    float: left;
    background-image: url(https://i.pinimg.com/474x/e6/cf/4c/e6cf4c618d1b5a5417c0dde04ff078c1.jpg);
    border-bottom: 5px solid #ff0000;
}

#mitad {
    border-bottom: 10px solid #ff0000;
}

#menu {
    width: 14%;
    text-shadow: 0px 0px 6px white;
    float: left;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    border-top: 5px solid #ff0000;
    border-bottom: 15px solid #ff0000;
    border-right: 4px solid #ff0000;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

#menu ul {
    line-height: 80px;
    width: 85%;
    float: right;
}

#menu ul li {
    list-style: circle;
    height: 85px;
    margin-left: 5px;
    margin-right: 5px;
}

#menu a {
    text-decoration: none;
    color: white;
    transition: 300ms all;
}

#menu a:hover {
    color: aquamarine;
    transform: scale(1.0, 1.0);
}

#menu ul li:hover {
    transform: scale(1.1, 1.1);
}

#principal {
    width: 84%;
    padding-top: 50px;
    height: 650px;
    float: left;
    border-top: 10px solid #ff0000;
    border-left: 10px solid #ff0000;
    border-right: 12px solid #ff0000;
    background-color: gainsboro;
}


#footer {
    background: #f7f7f7;
    width: 100%;
    height: 80px;
    line-height: 65px;
    border-top: 10px solid #ff0000;
    color: #444;
    background-image: url(https://i.pinimg.com/474x/e6/cf/4c/e6cf4c618d1b5a5417c0dde04ff078c1.jpg);
}

#footer p {
    margin: 0px;
    padding: 0px;
    text-align: center;
}


#slider {
    margin-top: -27px;
    width: 100%;
    height: 15px;
    color: white;
    text-shadow: 0px 0px 6px #444;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 6%, rgba(252, 176, 69, 1) 15%, rgba(253, 71, 40, 1) 22%);
}

.titulo {
    width: 95%;
    height: 50px;
    color: white;
     font-size: 25px;
    text-align: center;
    text-shadow: 0px 0px 6px #444;
    margin-top: 30px;
    margin-left: 40px;
}

.center {
    width: 75%;
    margin: 0px auto;
}

.clearfix {
    clear: both;
    float: none;
}

#slider h1 {
    padding: 0px;
    padding-top: 15px;
    text-align: center;
}

#separador {
    margin-top: -27px;
    width: 100%;
    height: 15px;
    color: white;
    text-shadow: 0px 0px 6px #444;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 6%, rgba(252, 176, 69, 1) 15%, rgba(253, 71, 40, 1) 22%);
}



.logo {
    width: 10%;
    font-size: 30px;
    float: left;
    margin-top: 19px;
    margin-left: 50px;
}

.logo img {
    display: block;
    float: left;
    height: 80px;
    animation: latir infinite 3s linear;
}


.perfil {
    float: left;
    border: 1px solid black;
    width: 90;
    height: 160;
    margin-left: 1px;
    margin-right: 40px;
}

p {
    text-align: justify;
    font-size: 25px;
    margin-top: 50px;
}
.gmail {
    float: right;
    height: 40px;
}

#facebook{
    float: left;
    margin-right: 50px;
    width: 25%;
    height: 80px;
}
#facebook img{
    padding-top: 110px;
    padding-right: 80px;
    padding-left: 28px;
    width: 150px;
    height:150px;
}

@keyframes latir {
    0% {
        transform: scale(1.2, 1.2);
    }

    50% {
        transform: scale(1.4, 1.4);
    }

    55% {
        transform: scale(0.95, 0.95);
    }

    100% {
        transform: scale(1, 1);
    }
}